/* Allison Hanna 04/13/26 */

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #104162;
  margin: 0;
  padding: 20px;
}

/* CENTER FORM */
.container {
  max-width: 700px;
  background: white;
  padding: 20px;
  border-radius: 8px;
  margin: 0 auto;  
  display: grid;  
  grid-template-columns: 1fr; 
  gap: 20px;
}

h2{
    text-align: center;
    font-size: 2em;
}

.form-group {
 display: grid;
 gap: 10px;
}
/* =========================
   MOBILE FIRST GRID
   ========================= */


/* INPUTS */
input,select {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 6px;
  margin-bottom:30px;

}
.contact-options {
 display: grid;
 grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
 gap: 10px;
}

/* =========================
   VALID / INVALID STYLES
   ========================= */

/* VALID INPUTS */
input:user-valid,
select:user-valid {
  background-color: #e8f5e9; /* light green */
  border-color: #077424;
}

/* INVALID INPUTS */
input:user-invalid,
select:user-invalid {
  background-color: #d2988d; /* light red */
  border-color: #e63946;
  font-size:1.3em;
}

/* RADIO GROUP */
.radio-group {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 6px;
}

.radio-group label {
  display: block;
  margin: 5px 0;
}

/* SUBMIT BUTTON */
button {
  background-color: #3291a2;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 6px;
  cursor: pointer;
  width:300px;
}

/* =========================
   DESKTOP UPGRADE
   ========================= */
@media (min-width: 700px) {
  form {
    grid-template-columns: 1fr 1fr;
  }

  input[type="submit"] {
    grid-column: span 2;
  }

  .radio-group {
    grid-column: span 2;
  }
}